data
.DS_Store
*.log
.idea
config.py
logs
config.json
config.yaml
reports
secrets
*.crt
*.key
__pycache__/
**/.Rhistory
.Rhistory
airflow.cfg
airflow.db
airflow-webserver.pid
notes.txt
standalone_admin_password.txt
webserver_config.py
Scripts/ShortTermScripts
backup_SQLiteDatabaseFiles
airflow-worker.pid
airflow
.env
